body{
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
  padding-right: 0 !important;
  min-width: 600px;
  height: 100%;
  border-style: solid;
  border-color: black;
  border-bottom-color: white;
}
html {
  background-color: #D9D9D9;
  padding-right: 0 !important;
  border-style: solid;
  border-color: black;
  border-bottom-color: white;
  height: 100%;
  min-height: 1100px;
}
footer {
  bottom: 0;
  position: inherit;
  height: 125px;
}
