body{
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
  border-style: solid;
  border-color: black;
  border-bottom-color: white;
  padding-right: 0 !important;
  min-width: 600px;
}
html {
  background-color: #D9D9D9;
  padding-right: 0 !important;
}
.background-accent {
  background: url('/img/background.jpg') no-repeat center center scroll;
  padding: 100px 0;
}
.img-center {
  margin: 0 auto;
}
section {
  padding: 75px 0;
}
.section-heading {
  margin: auto;
  width: 60%;
  padding: 10px;
  font-size: 3em;
}
.section-lead {
  margin: auto;
  width: 80%;
  padding: 10px;
}
footer {
  margin: 0px;
}
.modal-open {
    overflow: scroll;
}

.info {
  display: inline;
}
.map {
  height: 180px;
}
